/* Events */
.hidden-landing {
  display: none !important;
}

.organization-card-link {
  text-decoration: none !important;
}

.events-title-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  background-color: #ffffff;
  /* COLOUR HERE */
}

.events-title {
  text-align: center;
  padding: 10px;
}

.events-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #ffffff;
  /* COLOUR HERE */
}

.events-box {
  display: flex;
  background-color:#ffffff;
  flex-direction: column;
  justify-content: left;
  width: 800px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.events-label {
  overflow: hidden;
  padding-bottom: 8px;
  display: flex;
}

.events-show-all {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  display: flex;
}

.plusminus {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
  border-radius: 2px;

	&.active {
		&:before {
			transform: translatey(-50%) rotate(-90deg);
			opacity: 0;
		}
		&:after {
			transform: translatey(-50%) rotate(0);
		}
	}

	&:before , &:after {
		content: "";
		display: block;
		background-color: #333;
		position: absolute;
		top: 50%; left: 0;
		transition: .35s;
		width: 100%;
		height: 3px;
	}

	&:before {
		transform: translatey(-50%);
	}

	&:after {
		transform: translatey(-50%) rotate(90deg);
	}
}


.events-content {
  display: flex;
  flex-direction: column-reverse;
  max-height: 200px;
  overflow: auto;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);

  transition: max-height 0.6s ease-in-out;
}

.events-content.expand {
  max-height: 1000px;
  overflow: auto;
}

.events-notification {
  display: flex;
  flex-direction: row;
}

.events-notification-img {
  width: 70px;
  height: 70px;
  border-radius: 20%;
  padding: 10px;
}

.events-notification-content {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  align-items: center;
  text-align: justify;
  color: black;
}

.event-notification-content-title {
  padding-bottom: 5px;
}

.event-notification-content-timestamp {
  padding-top: 5px;
  font-size: 14px;
  color: #b1b1b1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.individual-event-title{
  display: flex;
}

.attendance-box {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s;
}

.attending {
  background-color: rgb(60, 185, 60);
  color: white;
}

.not-attending {
  background-color: rgb(70, 70, 70);
  color: white;
}

/* Card title wrapper */
.cards-title-wrapper {
  background-color: #ffffff;
  /* COLOUR HERE */

  padding-bottom: 20px;
  padding-top: 10px;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  padding-left: 25vw;
  padding-right: 25vw;
  min-width: 400px;

  line-height: 1.3;
  padding-bottom: 20px;
  background-color: #ffffff;
  /* COLOUR HERE */
}

.about-title{
  text-align: center;
}

.about a {
  font-weight: 700;
}

/* Organization listing */
.organization-catalogue-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
}

/* Search bar */
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.dropdown-search-label{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 16vw;
  margin-right: 15vw;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 16vw;
  margin-right: 15vw;
}

.search-input {
  padding: 5px;
  height: 30px;
  width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding-right: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.search-input:focus {
  outline: none; /* Remove default focus outline */
  border: none; /* Remove border */
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.search-button {
  border: none;
  border-radius: 5px;
  padding: 2.5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.organizations-wrapper{
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /* COLOUR HERE */
  padding-top: 30px;
  padding-left: 15vw;
  padding-right: 15vw;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);/* Max 3 items per row, each item at least 300px wide */
  gap: 20px; /* Spacing between items */
   /* Spacing between rows */
  justify-content: space-around;
}

.grid-item {
  margin-bottom: 60px;
  display: flex; /* Use flexbox for centering */
  flex-direction: column;
  align-items: center; /* Center items vertically */
  width: 300px; /* Fixed width */
  height: 400px; /* Fixed height */
  background-color: #ffffff; /* Adjust background color as needed */
  box-shadow: 0 0 12px rgba(0,0,0,0.4);

  transform: translateY(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add opacity transition */
  cursor: pointer;

  overflow: hidden;
  opacity: 1; /* Ensure initial opacity is set to 1 */
}

.grid-item.hidden {
  transform: translateY(-20px); /* Apply hover animation on hidden cards */
  opacity: 0; /* Fade out the hidden cards */
  pointer-events: none; /* Disable pointer events */
  visibility: hidden; /* Hide the element */
}

.grid-item:hover {
  transform: translateY(-20px);
  transition: transform 0.15s ease-out;
}

.organization-card-image{
  object-fit: cover;
  width: 100%;
  height: 80%;
  min-height: 320px;
}

.organization-card-name{
  width: 100%;
  height: 20%;
  text-align: center;
  align-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: rgba(20, 20, 20, 1);
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

.page-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

/* Card animations */

/* Fade-in class */
.fade-in {
  animation: fadeIn 0.5s forwards;
  pointer-events: auto; /* Adjust the duration as needed */
}
.fade-out {
  animation: fadeOut 0.5s forwards;
  pointer-events: none; /* Adjust the duration as needed */
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0px);
  }
}
@keyframes fadeOut {
  from {
      opacity: 1;
      transform: translateY(0px);
  }
  to {
      opacity: 0;
      transform: translateY(-20px);
  }
}

#no-news {
  text-align: center;
  padding: 10px;
  font-size: 18px !important;
}
